{% extends 'base.html.twig' %}

{% block body %}
    <h1>Whhato - A what happened today webservice</h1>

    <ul>
        {% for message in whhato.dateMessages(date()) %}
            <li>{{ message.format(date()) }}</li>
        {% endfor %}
    </ul>

    <p>Messages in a row: {{ whhato.MessagesInRowFor(date()) }}</p>

    <p><a href="{{ path('overview') }}">All available messages</a></p>

    <!--<a href="{{ path('connect_slack_start') }}">Install for Slack</a>//-->

    <h2>Contact, Imprint and all the other legal stuff</h2>
    <p>
        Who made it? Lukas Sadzik, software developer, hummingbird fan, reader and other things.<br/>
        How to contact this guy? Try writing an email at lukas.sadzik @ gmail.com. Or use twitter <a
                href="https://twitter.com/ko_libri" target="_blank">@ko_libri</a>.<br/>
    </p>
    
    <a href="https://github.com/kolibri/whhato/">Check this out on github</a>

{% endblock %}
