{% extends 'base.html.twig' %}

{% block body %}
    <h1>Whhato - A what happened today webservice</h1>

    <ul>
        {% for message in whhato.dateMessages(date()) %}
            <li>{{ message.format(date()) }}</li>
        {% endfor %}
    </ul>

    <p>Messages in a row: {{ whhato.MessagesInRowFor(date()) }}</p>

    <p><a href="{{ path('overview') }}">All available messages</a></p>

    <a href="{{ path('connect_slack_start') }}">Install for Slack</a>

    <h2>Contact, Imprint and all the other legal stuff</h2>
    <p>
        Who made it? Lukas Sadzik, software developer, hummingbird fan, reader and other things.<br/>
        How to contact this guy? Try writing an email at lukas.sadzik @ gmail.com. Or use twitter <a
                href="https://twitter.com/ko_libri" target="_blank">@ko_libri</a>.<br/>
        Do you want money? Yes, but not from you, not for this. You pay nothing and keep your expectations low,
        I will keep this thing running as long I can. Probably forever at some point.<br/>
        Why do you do this? Start reading from top again.<br/>
        But, I want to give you money! I dont care. Search for "donation mental health".
        You'll probably find someone or something, who will take the money.
        It's the same amount of work, I would have to figure out how I can get money from the internet. ;)
        Also, if mental health is not your style, try something about integrating people, regardless of the why.
    </p>
    
    <a href="https://github.com/kolibri/whhato/">Check this out on github</a>

{% endblock %}
