body {
    background-color: #92c3d3;
    font-family: 'Lato', sans-serif;
    padding: 2em;
}

#message {
    min-height: 25vh;
    span {
      display: block;
      min-height: 25vh;
    }
}

#statistics {
    dl {
      dt {
        display: inline-block;
      }
      dt::after {
        content: ':';
      }
      dd {
        display: inline-block;
        margin-left: 0.2em;
        padding-right: 1em;
      }
    }
}

#info {
  padding-top: 3em;
}